BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clock" SITE "G2";
IOBUF  PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 25 MHZ;

# Sets up reset button
LOCATE COMP "reset_n" SITE "D6";
IOBUF  PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "tick" SITE "E1";
IOBUF  PORT "tick" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "emergency" SITE "E2";
IOBUF  PORT "emergency" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "runway_active[0]" SITE "D1";
IOBUF  PORT "runway_active[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "runway_active[1]" SITE "D2";
IOBUF  PORT "runway_active[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "framing_error" SITE "C1";
IOBUF  PORT "framing_error" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "receiving" SITE "C2";
IOBUF  PORT "receiving" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sending" SITE "B2";
IOBUF  PORT "sending" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "tx" SITE "B15"; #GP[22]
IOBUF  PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;
LOCATE COMP "rx" SITE "B17"; #GP[23]
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "runway_override[0]" SITE "C16"; #GP[24]
IOBUF  PORT "runway_override[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "runway_override[1]" SITE "D14"; #GP[25]
IOBUF  PORT "runway_override[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "emergency_override" SITE "B13"; #GP[26]
IOBUF  PORT "emergency_override" PULLMODE=UP IO_TYPE=LVCMOS33;
